{% extends "layouts.html" %}

{% block title %}
    编辑链接
{% endblock %}

{% block content %}
<a href="{{ url_for('link_delete', lid = link.id, previous = 'link_edit') }}">Delete this link!</a>
<form method="post">
    <div class="">
        <label for="">链接地址</label>
        <input type="text" name="url" value="{{ link.url }}">
    </div>

    <div class="">
        <label for="">标题</label>
        <input type="text" name="title" value="{{ link.title }}">
    </div>

    <div class="">
        <label for="">标签</label>
        <input type="text" name="tags" value="{{ ','.join(link.tags) }}" placeholder="use , to split">
    </div>

    <div class="">
        <input type="submit" name="" value="Submit.">
    </div>
</form>
<a href="{{ url_for(request.args.get('previous', 'index')) }}">Back</a>
{% endblock %}
